<div class="date datepicker" data-date-format="mm/dd/yyyy">
    <input type="text" class="form-control" size="16" {{bind-attr value='formattedValue' rel='rel' placeholder='placeholder'}}>
    <span class="add-on"><i class="icon-th"></i></span>
</div>